<footer class="page-footer text-center font-small mt-4 wow fadeIn">

      <!--Footer Links-->
    <div class="container-fluid text-left pt-3">
        <div class="row">

          <hr class="hidden-md-up">

          <!--First column-->
          <div class="col-lg-3 col-md-4 offset-lg-1">
            <h5 class="title">ADDRESS : </h5>
              <p class="mb-0">53 rue Ancienne</p>
              <p>1227 Carouge</p>
          </div>
          <!--/.First column-->

          <hr class="hidden-md-up">

          <!--Second column-->
          <div class="col-lg-3 col-md-4 offset-lg-1">
              <h5 class="title">RedyCare : </h5>
              <p class="mb-0 ">Au service des professionnels de santé</p>
              <p class="mb-0">Im Dienste der Angehörigen der Gesundheitsberufe</p>
              <p>Al servizio del professionisti della salute</p>
          </div>
          <!--/.Second column-->
          <hr class="hidden-md-up">

          <!--Second column-->
          <div class="col-lg-3 col-md-4 offset-lg-1">
              <h5 class="title">EMAIL : </h5>
              <p>commercial@redycare.ch</p>
          </div>


        </div>
    </div>
      <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3">

      <p>© 2019 Copyright: RedyCare SA </p>
    </div>
    <!--/.Copyright-->

  </footer>
<footer class="page-footer center-on-small-only nopadding">


</footer>